* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    color: white;
}

html, body {
    min-height: 100%;
}

body {
    background: rgb(33,30,189);
    background: -moz-linear-gradient(0deg, rgba(33,30,189,1) 0%, rgba(51,8,103,1) 80%);
    background: -webkit-linear-gradient(0deg, rgba(33,30,189,1) 0%, rgba(51,8,103,1) 80%);
    background: linear-gradient(0deg, rgba(33,30,189,1) 0%, rgba(51,8,103,1) 80%);
}