* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    color: white;
}

html, body {
    min-height: 100%;
}

body {
    background: var(--colour-1);
    background: -moz-linear-gradient($bg-gradient);
    background: -webkit-linear-gradient($bg-gradient);
    background: linear-gradient($bg-gradient);
}