nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 2em;
    padding: 1em;

    .links {
        text-align: right;

        a {
            position: relative;
            margin: auto 1em;
            font-weight: 400;
            padding: 5px;
        
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: $snow;
                border-radius: 1em;
                transform: scaleX(0);
                transition: transform 0.3s;
            }
        
            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}